sounddevice
google-genai
python-dotenv
pillow
requests
beautifulsoup4
duckduckgo-search
playwright          
pyautogui
pyperclip
pygetwindow       
opencv-python
numpy
mss
Pillow
psutil
comtypes
pycaw               
win10toast          
send2trash
youtube-transcript-api
pywinauto
openwakeword
yt-dlp
pytesseract
faiss-cpu
sentence-transformers
PyPDF2
python-docx
newspaper3k
together
python-dotenv
pynput

faster-whisper
torch
torchaudio
torchvision
scikit-learn
keras
imutils
flask
flask-socketio

# RAG Core Dependencies
rank-bm25
tree-sitter
tree-sitter-python
PyMuPDF
watchdog
