sounddevice
google-genai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright          
pyautogui
pyperclip
pygetwindow       
opencv-python
numpy
mss
psutil
comtypes
pycaw               
send2trash
youtube-transcript-api
pywinauto
openwakeword
pytesseract
faiss-cpu
sentence-transformers
PyPDF2
python-docx
newspaper3k
pynput

faster-whisper
torch
scikit-learn

# RAG Core Dependencies
rank-bm25
tree-sitter
tree-sitter-python
PyMuPDF
watchdog
